<%- include('../sidebar.html') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>区块链开发新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- helper.markdown(`
## 以太坊开发 入门

《**Solidity的Truffle框架实战(手把手)**》

http://truffle.tryblockchain.org/Solidity-truffle-%E5%AE%9E%E6%88%98.html

《**Web3.js API 中文文档**》

http://web3.tryblockchain.org/

《**Truffle中文**》

http://truffle.tryblockchain.org/

《**Open Zeppelin入门**》

http://zeppelin.tryblockchain.org/


`) %>
      </div>
    </div>
  </div>
</div>
